<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Admin Dashboard</title>
      <style>
            .navbar-brand {
                  color: black;
                  font-weight: bolder;
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            .nav-item {
                  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

            .brand {
                  text-align: center;
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                  color: rgb(169, 112, 223);
            }

            .td {
                  font-size: large;
                  font-weight: bold;
            }

            .table {
                  text-align: center;
            }
      </style>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
      <!-- new -->
      <!-- Add these links in the head section of your HTML file -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                  <a class="navbar-brand" href="/admin">Admin Voting Dashboard</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  <!-- new adding navbar -->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/admin/users" role="button"
                                          data-bs-toggle="dropdown" aria-expanded="false">
                                          User Records
                                    </a>
                              </li>
                              <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/admincr" role="button"
                                          data-bs-toggle="dropdown" aria-expanded="false">
                                          Role Admin
                                    </a>
                                    <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Add</a></li>
                                          <li><a class="dropdown-item" href="#">List</a></li>
                                    </ul>
                              <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                          Admin Records
                                    </a>
                                    <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Add</a></li>
                                          <li><a class="dropdown-item" href="#">List</a></li>
                                    </ul>
                        </ul>

                        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  </div> -->
                        <form class="d-flex" role="search">
                              <a href="/admin/search-user">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                          aria-label="Search"></a>
                              <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <a href="/admincr" style="margin-left: 1rem;"><button type="button"
                                    class="btn btn-outline-info">Add
                                    Admin</button></a>
                  </div>

      </nav>
      <div id="loading-animation" class="text-center mt-5">
            <!-- Custom Loading Animation -->
            <div class="loading-spinner"></div>
            <h3 class="loading-spinner"></h3>
      </div>
      <div id="content" class="text-center mt-5" style="display: none;">
            <div class="container mt-3 pt-3">
                  <h1 style="text-align: center;" class="brand">STATUS</h1>
                  <h3>Results:</h3>
                  <table class="table table-hover table-rounded mt-2">
                        <thead style="border: 1px solid black;">
                              <tr>
                                    <th scope="col">Sr. No.</th>
                                    <th scope="col">Candidate Name</th>
                                    <th scope="col">Vote Count</th>
                                    <th scope="col">View More</th>
                              </tr>
                        </thead>
                        <tbody class="table-group-divider">
                              <% let sr=1 %>
                                    <% let count=0 %>
                                          <%for(let i of vote){%>
                                                <tr>
                                                      <th scope="row">
                                                            <%=sr%>
                                                                  <%sr++%>
                                                      </th>
                                                      <td>
                                                            <%=i.name%>
                                                      </td>
                                                      <td>
                                                            <%=i.vote%>
                                                      </td>
                                                      <td>
                                                            <a href="/admin/viewOne/<%=i.name%>"
                                                                  class="btn btn-outline-dark">View
                                                      </td>

                                                </tr>
                                                <!-- end here -->
                                                <% count+=i.vote %>
                                                      <%}%>
                                                            <tr>
                                                                  <td colspan="2" class="td" style="margin-left:20rem;">
                                                                        Total
                                                                        Vote</td>

                                                                  <td class="td">
                                                                        <%=count%>
                                                                  </td>
                                                            </tr>
                        </tbody>
                  </table>
            </div>
            <center>
                  <a href="/logout" class="btn btn-outline-danger mt-4">
                        <!-- <input type="button" class="mt-4 btn btn-outline-danger" style="align-items: center;"> -->
                        <i class="bi bi-box-arrow-right">Logout</i>
                  </a>
            </center>
      </div>
      </div>
      <script>
            $(document).ready(function () {
                  // Show the loading animation
                  $("#loading-animation").fadeIn();

                  // Simulate a 3-second delay
                  setTimeout(function () {
                        // Hide the loading animation
                        $("#loading-animation").fadeOut();

                        // Show the content
                        $("#content").fadeIn();
                  }, 50);
            });

      </script>
</body>

</html>